@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-danger">
    <h1>Vietjet Reservation</h1>
    <h5>Welcome to a New-Age Carrier Vietjet</h5>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            To become a multi-national aviation group with a route network covering the entire region and the world,
            providing and developing not only aviation services but also consumption products on the e-commerce platform
            and being a favourite and trusted brand name.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mission</h2>
        <ul>
            <li>
                To operate and develop domestic, regional and international route network
            </li>

            <li>
                To bring a breakthrough in aviation services
            </li>

            <li>
                To make aviation services to become popular means of transport in Vietnam and in the world.
            </li>

            <li>
                To bring joyfulness, customer satisfaction by providing luxurious and exceeding expectation services
                with friendly smiles.
            </li>

        </ul>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Core value</h2>
        <p>
            Safety - Happiness – Affordable Price - Punctuality
        </p>
        <p>Corporate Culture: Awareness of safety – Integrity – Differentiation, full of inspiration – Diligence,
            Resourcefulness – Joyfulness, Strength and Excitement
        </p>
        <p>
            Vietjet is an official IATA member with IOSA's (IATA Operational Safety Audit) certificate. Culture of
            safety is a significant integral part of Vietjet corporate culture. This will be grasped thoroughly by every
            staff at Vietjet.
        </p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>