@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-danger">@ViewData["Title"]</h1>

<p>Thank you for visiting VietJetAir’s website. We respect and commit to safeguarding your private information. Please
    read the Privacy Policy below to better understand our commitments to respecting and safeguarding the interests of
    our website visitors.
</p>
<br>
<p>    
    This policy applies to all personal information that you provide while working with us. It also applies to all
    information about you that is provided to us by another person, such as a travel agent.
</p>
<div class="row">
    <div class="row-md-4">
        <ol type="a">
            <li>
                <strong>
                    Purpose and scope of collection
                </strong>
                <ul>
                    <li>
                        The types of personal information we collect from you depend on the situations and service types
                        you
                        request us to provide. For example, we collect details such as full name, address, flight and
                        other
                        travel information, credit/debit card number and expiration date, billing address, phone
                        numbers,
                        membership details of loyalty program, and health issues related to your travel arrangements.
                    </li>
                    <li>
                        We may collect your personal information when you work with us via phone, mail (whether by mail,
                        fax
                        or
                        email), by visiting our website, or by directly meeting us. In some cases, we may collect your
                        information from a third party, i.e., a travel agent or transport agent; from such third parties
                        as
                        telephone sales companies, which gather your personal information and disclose it to us so that
                        we
                        could
                        issue tickets for you and implement as well as complete your travel arrangements or introduce
                        our
                        products and services to you; from other service providers which collect information on our
                        behalf...
                    </li>
                </ul>
            </li>
            <li>
                <strong>Scope of Information Usage</strong>
                <ul>
                    <li>
                        We collect your personal information for the following purposes: to arrange your travel and
                        transportation as well as other transactions; to create favorable conditions for you to
                        participate
                        in
                        loyalty programs of other organizations; and to implement marketing and market research
                        activities.
                    </li>

                    <li>
                        Some of the personal information that we collect will be very necessary for us to determine
                        exactly
                        who is using the service. Other types of personal information that we collect will help us to
                        make a
                        profile of who is using our services and identify their needs.
                    </li>
                </ul>
            </li>

            <li>
                <strong>Information Retention Period</strong>
                <ul>
                    <li>
                        Clients’ personal data will be stored until they request erasing such information.
                    </li>
                </ul>
            </li>
        </ol>

    </div>
</div>